.srv-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 0;
}

.srv-section--university   { flex: 2; }
.srv-section--opportunities { flex: 1; }
.srv-section--development  { flex: 1; }

.srv-section__title {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-primary);
  flex-shrink: 0;
}


.srv-section__grid {
  display: grid;
  gap: 16px;
  flex: 1;
  min-height: 0;
}

/*  Университет */
.srv-section__grid--university {
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: 1fr 1fr;
}
/* Строка 1 */
.srv-section__grid--university .srv-card:nth-child(1) { grid-column: 1 / 10;   grid-row: 1; }
.srv-section__grid--university .srv-card:nth-child(2) { grid-column: 10 / 18;  grid-row: 1; }
.srv-section__grid--university .srv-card:nth-child(3) { grid-column: 18 / 25; grid-row: 1; }
/* Строка 2 */
.srv-section__grid--university .srv-card:nth-child(4) { grid-column: 1 / 11;   grid-row: 2; }
.srv-section__grid--university .srv-card:nth-child(5) { grid-column: 11 / 19;  grid-row: 2; }
.srv-section__grid--university .srv-card:nth-child(6) { grid-column: 19 / 25; grid-row: 2; }

/*  Возможности */
.srv-section__grid--opportunities {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

/*  Развитие */
.srv-section__grid--development {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
