.layout{
  display:flex;
  min-height:100vh;
  background:#F3F4F8;
}

.content{
  flex:1;
  padding:32px;
}

.dashboard-grid{

  margin-top:24px;

  display:grid;

  grid-template-columns: repeat(24, 1fr);

  gap:24px;

}

.schedule{
  grid-column: span 9;
}

.news{
  grid-column: span 3;
  grid-row: span 2;
}

.vacancies{
  grid-column: span 9;
}

.offers{
  grid-column: span 9;
}

.events{
  grid-column: span 12;
}

.widget{

  background:white;

  border-radius:20px;

  padding:24px;

  box-shadow:0 4px 12px rgba(0,0,0,0.05);

}

.vacancies-grid{

  display:grid;

  grid-template-columns:1fr 1fr 1.5fr;

  gap:16px;

}

.events-grid{

  display:grid;

  grid-template-columns:1fr 1fr;

  gap:16px;

}

.widget{
  transition: all .2s ease;
}

.widget:hover{
  transform: translateY(-3px);
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
}
