.news-card {
  gap: 10px;
  height: 100%;         
}

.news-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;       
  gap: 8px;
}

.news-item {
  flex: 1;             
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0;        
}

.news-item__img {
  height: 100%;       
  width: auto;          
  aspect-ratio: 1 / 1;   
  object-fit: cover;   
  border-radius: var(--radius-sm);
}